[Unit]
Description=Hong Kong Observatory Bot
Wants=network.target
Requires=postgresql.service

[Service]
Type=simple
ExitType=main
KillSignal=SIGINT
Restart=always
RestartSec=5
EnvironmentFile=/etc/default/hko-bot
ExecStart=-/usr/local/bin/hko-bot

[Install]
WantedBy=multi-user.target
