[Unit]
Description=Hong Kong Observatory Bot
Wants=network.target
Requires=postgresql.service

[Service]
Type=simple
ExitType=main
KillSignal=SIGINT
Restart=always
RestartSec=5
EnvironmentFile=/etc/default/hko-bot
Environment="HKO_BOT_TOKEN=<Your Bot Token>"
Environment="HKO_BOT_DATABASE_URI=<Your Database Connection String>"
ExecStart=-/usr/local/bin/hko-bot

[Install]
WantedBy=multi-user.target
